.Dashboard {
    margin-top: 10px;
}

.table-container {
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    table-layout: fixed;
    width: 100%;   
}

th,td {
    word-wrap: break-word;
}